.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shopping{
    background-color: rgb(127, 105, 248);
    padding: 20px 30px;
}


.cart{
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}

.banner img{
    width: 100%;
    height: 60vh;
}

.product-item{
    padding: 20px;
}